.container {
    background-color: beige;
    border: solid 5px black;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.head {
    margin-top: 200px;
}

body {
    background-color: black;
}